body {
    background-color: #131316;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 120vh;
    margin: 0 30px;
    border-bottom: 5px #222;
}

.hidden p {
    transition: all 1s 300ms;
    transform: translateX(-100%);
}
.show p {
    transition: all 1s 300ms;
    transform: translateX(0%);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
/* @media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
} */

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}